main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /*overflow: hidden;*/
}

body {
    margin: 0;
}

.stageContainer {
    background-color: coral;
    flex: 1;
    cursor: crosshair;
}